<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

</head>
<body>

<!-- jumbotron start -->


<div class="jumbotron">

  <div class="logo">
      <img src="assets/squillwhite.png" alt="" height="130px">
  </div>


  <h1>Build. Measure. Know</h1>
  <p>
    <h2>The smart first step to validating your idea</h2>
    <a class="btn btn-danger" href="http://goo.gl/forms/RU2BrznEK8" role="button" target="blank">Let's get started</a>
  </p>
</div>
<!-- jumbotron end -->

<!-- about start -->
<div class="about">
  <div class="row">
    <div class="col-md-3">
      <p>Ideas</p>
      <p><img src="assets/ideas.png" alt="" height="170px"></p>
    </div>
    
    <div class="col-md-3">
      <p>Rapid Innovation</p>
      <p><img src="assets/rapidinnovation.png" alt="" height="170px"></p>
    </div>
    
    <div class="col-md-3">
      <p>Insights</p>
      <p><img src="assets/inisghts.png" alt="" height="150px"></p>
    </div>
    <div class="col-md-3">
      <p>Validation</p>
      <p><img src="assets/validation.png" alt="" height="150px"></p>
    </div>
  </div>
</div>
<!-- about end -->

<div class="reserve">
  <h1>100 innovators are already making smarter decisions</h1>
    <div class="queue">
        <h3>Reserve your spot now!</h3>
    </div>
    <a class="btn btn-primary" href="http://goo.gl/forms/RU2BrznEK8" role="button" target="blank">Let's get started</a>
</div>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">2016©  Squill
      </p>
    </div>
  </div>
</body>
</html>